*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
	scroll-behavior: smooth;
}

/*CSS for Header*/

h1{
	text-align: 60px;
	margin: auto;
	padding-bottom: 0px;
}

h1{
	font-size: 80px;
	font-weight: 400px;
	color: #142061;
}

h2{
	text-align: 60px;
	margin: auto;
	padding-top: 0;
	padding-bottom: 0px;
}

h2{
	font-size: 50px;
	color: #142061;
}

/*Header Nav*/

nav{
	height: 75px;
	border-bottom: 2px;
	background-color: #142061;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 100;
}

nav > div {
	width: 80vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav > div > ul {
	display: flex;
	list-style-type: none;
	width: 100%;
}

nav > div > ul > li{
	margin: 0 50px;
}

nav > div > ul > li > a:link, a:visited, active{
	text-decoration: none;
	color: whitesmoke;
	font-size: 20px;
}

nav > div > ul > li > a:hover{
	border: 3px solid #79D1C3;
	color: #79D1C3;
}

/*Nav Image*/

nav > div > img{
	height: 60px;
	margin: 0 0;
	width: 200px;
	position: relative;
}

nav > div > div{
	height: 60px;
	margin: 0 0;
	width: 70px;
	position: relative;
	right: 250px;
}

nav > div > a{
	text-decoration: none;
	font-size: 50px;
	color: whitesmoke;
	font-weight: bolder;
}

.navimg > img{
	border-radius: 50%;
}

/*Home*/

.section-home{
	background: url(../images/bluebackground.jpeg);
	background-position:center;
	background-size: cover;
	height: 90vh;
	display: block;
	justify-content: center;
	align-items: center;
}

.section-home > div > h1{
	font-size: 100px;
	text-align: center;
	position: relative;
	top: 100px;
	font-weight: bolder;
}

.section-home > div > h2{
	font-size: 50px;
	text-align: center;
	position: relative;
	top: 101px;
	font-weight: bolder;
}

.section-home > div > p{
	font-size: 30px;
	text-align: center;
	position: relative;
	top: 102px;
	font-weight: bold
}

.section-about{
	background: #79D1C3;
	background-position:center;
	background-size: cover;
	height: 90vh;
	display: block;
	justify-content: center;
	align-items: center;
}


.section-products{
	background: #E66A4E;
	background-position:center;
	background-size: cover;
	height: 90vh;
	display: block;
	justify-content: center;
	align-items: center;
}

.section-system{
	background: #E66A4E;
	background-position:center;
	background-size: cover;
	height: 90vh;
	display: block;
	justify-content: center;
	align-items: center;
}

.section-system < div < h2{
	text-align: 60px;
	margin: auto;
	padding-top: 0;
	padding-bottom: 0px;
}

.system1{
	display: flex;
	justify-content: center;
	align-items: center;
}

.system1 > img{
	height: 300px;
	margin: 25px;
	border-radius: 50%;
	width: 300px;
	position: relative;
	top: 100px;
}

.system1 > a> img{
	height: 300px;
	margin: 25px;
	border-radius: 50%;
	width: 300px;
	position: relative;
	top: 100px;
}

.system2{
	display: flex;
	justify-content: center;
	align-items: center;
}

.system2 > img{
	height: 300px;
	margin: 25px;
	border-radius: 50%;
	width: 300px;
	position: relative;
	top: 100px;
}

.system2 > a> img{
	height: 300px;
	margin: 25px;
	border-radius: 50%;
	width: 300px;
	position: relative;
	top: 100px;
}

.system3{
	display: flex;
	justify-content: center;
	align-items: center;
}

.system3 > img{
	height: 300px;
	margin: 25px;
	border-radius: 50%;
	width: 300px;
	position: relative;
	top: 100px;
}

.system3 > a> img{
	height: 300px;
	margin: 25px;
	border-radius: 50%;
	width: 300px;
	position: relative;
	top: 100px;
}

.section-contact{
	background: black;
	opacity: 0.2;
	background-position:center;
	background-size: cover;
	height: 100vh;
	display: block;
	justify-content: center;
	align-items: center;
}

/*Form*/

.form-left{
	max-width: 450px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-left label{
	display:block;
	margin-bottom: 10px;
}
.form-left label > span{
	float: left;
	width: 100px;
	color: #F072A9;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
.form-left fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #FFD2D2;
	padding: 20px;
	background: #FFF4F4;
	box-shadow: inset 0px 0px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}
.form-left fieldset legend{
	color: #FFA0C9;
	border-top: 1px solid #FFD2D2;
	border-left: 1px solid #FFD2D2;
	border-right: 1px solid #FFD2D2;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #FFF4F4;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 12px;
}
.form-left textarea{
	width:250px;
	height:100px;
}
.form-left input[type=text],
.form-left input[type=date],
.form-left input[type=datetime],
.form-left input[type=number],
.form-left input[type=search],
.form-left input[type=time],
.form-left input[type=url],
.form-left input[type=email],
.form-left select, 
.form-left textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #F072A9;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #79D1C3;
	-moz-box-shadow: inset 1px 1px 4px #79D1C3;
	-webkit-box-shadow: inset 1px 1px 4px #79D1C3;
	background: #FFEFF6;
	width:50%;
}/*
.form-left  input[type=submit],
.form-left  input[type=button]{
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #142061;
	-moz-box-shadow: inset -1px -1px 3px #142061;
	-webkit-box-shadow: inset -1px -1px 3px #142061;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}*
.required{
	color:red;
	font-weight:normal;
}
/*/*End of Form CSS*/*/
/*Media Queries*/
/*Desktop View*/
@media only screen and (min-width: 961px) and (max-width: 1000px){
	.box1{
		background-color: pink;
	}
}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.box1{
		background-color: yellow;
	}
}

/*mobile*/
/*tablet*/
@media only screen and (max-width: 400px){
	.box1{
		background-color: red;
	}
}

