*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Titillium Web', sans-serif;
	font-size: 30px;
	color: midnightblue;
	background-image: url(../images/tubiglandingpage.jpeg);
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.header{
	display: flex;
}

.header > .header-text{
	flex-direction: column;
	justify-content:center;
	align-items: center;
	padding: 0 10px;
	margin: auto;
}
	
}
/*
.landing{
	background: url(../images/tubiglandingpage.jpeg);
	background-position:center;
	background-size: cover;
	height: 100vh;
}

.landing < div < h1{
	text-align: center;
	font-size: 50px;
}*/

/*Media Queries*/
/*Desktop View*/
@media only screen and (min-width: 961px) and (max-width: 1000px){
	.box1{
		background-color: pink;
	}
}

/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	.box1{
		background-color: yellow;
	}
}

/*mobile*/
/*tablet*/
@media only screen and (max-width: 400px){
	.box1{
		background-color: red;
	}
}

